.app {
	margin-top: 20vh;
}

.canvas {
	width: 512px;
	/* height: 128px; */
	border: 1px solid rgba(238, 237, 237, 0.616);
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
h1 {
	text-align: center;
}

span {
	width: 2px;
	height: 2px;
}
